@import "colors.css";


* {
  font-family: MaterialDesignIcons, Iosevka;
  font-size: 14px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


window#waybar {
  background: @background;
}

#window {
  padding: 5px 10px;
  margin: 8px 4px;
  background: transparent;
  border-radius: 14px;
  color: @on_background;
}

tooltip {
  padding-top: 10px;
  background: @surface_container;
  color: @secondary;
  border: 0px solid @surface_bright;
  border-radius: 14px;
}

tooltip label {
  color: @primary;
}

#custom-arrow-right {
  color: @red;
  margin: 10px 4px;
}

#temperature,
#cpu,
#memory{
  padding: 4px 10px;
  margin: 7.9px 2px;
  background: @surface_container;
  color: @primary;
  border-radius: 12px;
}

#temperature.warning {
  color: @error;
}

#temperature.critical {
  color: darker(@error);
}

#workspaces {
  margin: 7.9px 2px;
  background: @surface_container;
  border-radius: 12px;
  padding: 0px 2px;
}

#workspaces button {
  font-size:smaller;
  border-radius: 16px;
  padding: 0px 4px;
  margin: 3px 1.5px;
  background-color: transparent;
  color: @primary;
  animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.empty {
  font-size:smaller;
  padding: 0px 4px;
  margin: 3px 1.5px;
  background-color: transparent;
  color: @on_background;
  animation: ws_normal 20s ease-in-out 1;
  }

#workspaces button.active {
  color: @primary;
  border-radius: 9px;
  background: @on_primary;
  margin: 3px 1.5px;
  padding: 0px 6px;
  animation: ws_active 20s ease-in-out 1;
transition: background-color 300ms cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  background-color: @error;  
  color: @background;
  border-radius: 12px;
  padding: 0px 4px;
  margin: 3px 1.5px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button:hover {
  color: @secondary;
  border-radius: 14px;
  background: @surface;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active:hover {
  color: @on_primary;  
  background: @on_primary_container;
  border-radius: 10px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#control-center {
  padding: 4px 8px;
  margin: 7.9px 2px;
  color: @on_background;
  background: @background;
  border-radius: 14px;
  }

#bluetooth{
  padding: 0px 2px 0px 5px;

}

#custom-notifications{
  margin-right: 8px;
}

#custom-notifications,
#network,
#pulseaudio {
  padding: 0px 0px 0px 6px;
}

#language {
  padding: 0px 3px 2px 0px;
}

#custom-arrow-left {
  color: @secondary;
  margin: 0px 4px;
}

#cava{
  border-radius: 40px;
  color: @foreground;
  padding: 0px 5px;
  margin: 8px 0px;
}


#user,
#gpu,
#language,
#idle,
#custom-updates,
#custom-gpu-usage,
#custom-screenrecorder,
#gamemode,
#mpris,
#tray,
#theme-switcher {
  padding: 4px 7px;
  margin: 8px 2px;
  color: @secondary;
  background: @background;
  border-radius: 12px;
}

#tray menu * {
  border-radius: 14px;

}
#tray .child {
  padding: 0 0px;
}

#tray {
  padding-right: 0px;
}

tray > .passive {
  -gtk-icon-effect: dim;
  font-size: 4px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @error;
}

#mpris {
  padding: 4px 10px;
  margin: 7.9px 2px;
  border-radius: 10px;
}

#mpris.playing {
  animation-name: mpris-gradient;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}




#time-info {
  padding: 4px 10px;
  margin: 7.9px 2px;
  background: @surface_container;
  border-radius: 12px;
  color: @primary;
  
}

#power {
  background: @inverse_surface;
  border-radius: 10px;
  margin: 4px;
}

#custom-caffeinated,
#custom-gamemode,
#privacy,
#backlight,
#battery {
  padding: 0px 6px;
}

#battery.charging {
  color: @tertiary;
}

#battery.warning {
  color: @error;
}


#battery.critical {
  color: darker(@error);
  animation: fadeColor 2s forwards;
}

#gamemode{
  padding-left: 0px;
padding-right: 16px;
}

#power-profiles-daemon  {
  border-radius: 15px;
  padding-right: 10px;
  padding-left: 6px;
  margin-left: 4px;
  margin-right: 6px;
  color: @tertiary;
  background: @on_tertiary;
}

#custom-weather {
  padding-left: 4px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #ffffff;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
  color: @secondary;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: @primary;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -4px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

#privacy:hover{
  border-radius: 14px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#privacy-item.audio-in{
  color: @secondary;
}


#control-center:hover {
  padding: 0px 15px;
  border-radius: 10px;
  margin: 7.9px 2px;
  background-color: @surface_container;
  border-radius: 10px;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cava:hover,
#time-info:hover{
  padding: 0px 15px;
  border-radius: 10px;
  background-color: @surface_container_high;
  color: @secondary;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#user:hover,
#gpu:hover,
#language:hover,
#idle:hover,
#custom-gpu-usage:hover,
#custom-screenrecorder:hover,
#temperature:hover,
#memory:hover,
#disk:hover,
#custom-updates:hover,
#theme-switcher:hover,
#gamemode:hover,
#window:hover,
#mpris:hover{
  padding: 0px 15px;
  border-radius:10px;
  background-color: @surface_container_high;
  color: @secondary;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}