/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #15130b;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #333027;

@define-color inverse_primary #6c5e0f;

@define-color inverse_surface #e8e2d4;

@define-color on_background #e8e2d4;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #393000;

@define-color on_primary_container #f7e388;

@define-color on_primary_fixed #211b00;

@define-color on_primary_fixed_variant #524600;

@define-color on_secondary #363016;

@define-color on_secondary_container #ede2bc;

@define-color on_secondary_fixed #201b04;

@define-color on_secondary_fixed_variant #4d472b;

@define-color on_surface #e8e2d4;

@define-color on_surface_variant #cdc6b4;

@define-color on_tertiary #143723;

@define-color on_tertiary_container #c4eccf;

@define-color on_tertiary_fixed #002110;

@define-color on_tertiary_fixed_variant #2b4e39;

@define-color outline #969080;

@define-color outline_variant #4a4739;

@define-color primary #dac76f;

@define-color primary_container #524600;

@define-color primary_fixed #f7e388;

@define-color primary_fixed_dim #dac76f;

@define-color scrim #000000;

@define-color secondary #d1c6a2;

@define-color secondary_container #4d472b;

@define-color secondary_fixed #ede2bc;

@define-color secondary_fixed_dim #d1c6a2;

@define-color shadow #000000;

@define-color source_color #f6d93f;

@define-color surface #15130b;

@define-color surface_bright #3c3930;

@define-color surface_container #222017;

@define-color surface_container_high #2c2a21;

@define-color surface_container_highest #37352b;

@define-color surface_container_low #1e1c13;

@define-color surface_container_lowest #100e07;

@define-color surface_dim #15130b;

@define-color surface_tint #dac76f;

@define-color surface_variant #4a4739;

@define-color tertiary #a9d0b4;

@define-color tertiary_container #2b4e39;

@define-color tertiary_fixed #c4eccf;

@define-color tertiary_fixed_dim #a9d0b4;


