@import 'colors.css';

@define-color text            @on_surface;
@define-color background-alt  @surface_bright;
@define-color selected        @primary;
@define-color hover           alpha(@selected, .4);
@define-color urgent          @error;

* {

  /*background-alt:        @color1;      Buttons background */
  /*dark-gray:              @color2;      Button dark-gray */
  /*hover:                 @tertiary;      Hover button */
  /*urgent:                @tertyary;      Urgency critical */
  /*text-dark-gray:         @background; */

  color: @text;

  all: unset;
  font-size: 14px;
  font-family: MaterialDesignIcons, Iosevka;
  transition: 200ms;

}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
  color: @text;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

.floating-notifications.background .notification-row .notification-background {
  background: @background;
  border: 1px solid @surface_bright;
  border-radius: 18px;  
  margin: 10px;
  padding: 0;
  animation: ws_active 20s ease-in-out 1;
  box-shadow: 0 2px 4.5px 0 @shadow;   
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 5px;
border-radius: 26px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid red;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 20px;
  background-color: @surface_container ;
  color: @secondary;
  margin: 6px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  color: @primary;
  background-color: @on_primary;
  border-radius: 15px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @on_secondary;
  color: @secondary;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @shadow;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @shadow;
  color: @background;
}

.notification.critical progress {
  color: @primary;
  border: none;
}


 progress {
  background-color: @primary;
  border: none;
}




.notification.low trough{
  border: none;
}

/* Avoid 'annoying' backgroud */
.scrollbar,
.blank-window {  
  background: transparent;  
  border: none;
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  color: @text;
  background: @background;
  border-radius: 24px;  
  border: 1.5px solid @surface_container;
  box-shadow: 0 2px 8px 0 @shadow;   
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background: @surface_container;
  color: alpha(@text, .8);
  border: 0px solid @surface_bright;
  border-radius: 15px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @primary;
  background: red;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 4px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 20px;
  background-color: @surface_container_high;
  color: @secondary;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  color: @background;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @shadow;
  color: @text;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @background;
  border: 1px solid @primary;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @background;
}


.progressbar,
.progress,
trough {
border-radius: 12px;
color: transparent;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  margin: 4px; 
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: alpha(@text, .2);
  border: 2px solid @text;
}  

  /* Notification clear button */
/* WIDGETS --------
------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 10px;
  background-color: transparent;
}

.widget-title button {
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: @tertiary;
  background: @on_tertiary;
}

.widget-title button:hover {
  background-color: @on_primary;
  color: @primary;
  padding: 5px 20px;
}

.widget-title button:active {
  background-color: red;
  color: @selected;
}

  /* Do not disturb */
.widget-dnd {
  margin: 8px 2px;
  font-size: 1.2rem;
  
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  border: 2px solid @color1;
  box-shadow: none;
}

.widget-dnd > switch:hover {
  background: alpha(@text, .2);
}

.widget-dnd > switch:checked {
  background: @color1;
}

.widget-dnd > switch:checked:hover {
  background: alpha(@color1, .8);
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  padding: 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 26px;  
  background: transparent;
}


.widget-buttons-grid {
  background-color: @surface_container_low;
  padding: 4px 2px;
  margin: 5px 35px;
}

.widget-buttons-grid:hover {
  border-radius: 22px;
  padding: 4px 10px;
  margin: 5px 25px;
}


.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 2px 1px;
  padding: 12px 10px;
  background: transparent;
  color: @on_backgroundw;
  border-radius: 17px;
  border: 2px solid transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:not(:checked) {
  margin: 0px 2.5px;
}


.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @on_primary;
  color: @primary;
  border-radius: 35%;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
  background: @on_tertiary;
  color: @tertiary;
  margin: 0px 2.5px;
  border-radius: 24px;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked:hover {
  background: @on_primary;
  color: @primary;
}

  /* Music player */
.widget-mpris {
    background: none;
    border-radius: 19px;
    color: @text;
    padding: 0px;
    margin:  5px 6px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
  border-radius: 19px;
}

.widget-mpris button:hover {
  color: @text;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background: @surface_container;
    padding: 12px 10px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    border-radius: 19px;
}

.widget-mpris-album-art {
  border-radius: 19px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

/* Volume widget */
trough {
  border-radius: 20px;
  background: @background;
}

trough highlight {
  /* ´trough´ is the background of the slider, ´highlight´ is the actual slider */
  padding: 3px;
  background: @primary;
  border-radius: 20px;
}

trough slider {
  
  padding: 3px;
  background: transparent;
  border-radius: 20px;

}

trough highlight:hover {
  padding: 3px;
  background: @on_primary;
  border-radius: 20px;

}

.widget-volume {
  padding: 20px 17px;
  background-color: @surface_container;
  border-radius: 12px 12px 0px 0px;
  font-size: 45px;
  margin-top: 14px;
  margin-left: 2px;
  margin-right: 2px;
  border: 0px solid transparent;
}


.widget-backlight {
  padding: 20px 17px;
  background-color: @surface_container;
  font-size: 15px;
  margin-top: -8px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 15px;
  border-radius: 0px 0px 12px 12px;
  border: 0px solid transparent;
}

.widget-volume:hover,
.widget-backlight:hover {
  background-color: @surface_container_low;
}